<!-- <md-subheader class="md-no-sticky">List of Users</md-subheader> -->
<md-content>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">List of Users</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content layout="column">
            <md-table-container>
                <table md-table ng-model="$ctrl.selected" md-progress="promise">
                    <thead md-head md-order="$ctrl.query.order">
                        <tr md-row>
                            <th md-column>Id</th>
                            <th md-column>Name</th>
                            <th md-column>Weight</th>
                            <th md-column>Symbol</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="dessert in $ctrl.PeriodicElement">
                            <td md-cell>{{dessert.position}}</td>
                            <td md-cell>{{dessert.name}}</td>
                            <td md-cell>{{dessert.weight}}</td>
                            <td md-cell>{{dessert.symbol}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}"
                md-on-paginate="getDesserts" md-page-select></md-table-pagination>

        </md-card-content>
    </md-card>

</md-content>